@import "config";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Rajdhani|PT+Sans|Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
}
.move-up {
  position: fixed;
  bottom: 15%;
  z-index: 10;
  right: 5%;
  font-size: 3rem;
  color: darkcyan;
  &:hover {
    cursor: pointer;
    color: $third-color;
  }
}
// global
.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: $secondary-color;
}
p {
  font-family: $font-montserrat;
  color: gray;
  line-height: 2em;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.8rem;
}
ul {
  list-style: none;
}
// Navigation
.nav-bar {
  @include easeOut;
  font-family: $font-montserrat;
  padding: 0 2rem;
  height: 0rem;
  min-height: 60px;
  overflow: hidden;
  .nav-menu {
    font-size: 2rem;
    justify-content: space-between;
    .nav-branding {
      font-size: 2.2rem;
      font-weight: 700;
      padding: 0.4545em 0;
      display: block;
    }
    .nav-social {
      padding: 1.2rem 0.5rem;
      a {
        margin: 0 0.3em;
        &:hover {
          color: $third-color;
        }
      }
    }
    div {
      .nav-items {
        display: flex;
        list-style: none;
        font-size: 1.6rem;
        font-family: "Rajdhani", sans-serif;
        .nav-links {
          margin: 1.2rem 0rem;
          padding: 0 1rem;
          &.current {
            border-bottom: 0.05em solid $third-color;
          }
          &:hover {
            border-bottom: 0.05em solid $third-color;
          }
        }
      }
    }
  }
}
.nav-collapse {
  position: absolute;
  top: 0;
  margin-top: 0.5rem;
  width: 90%;
  justify-content: flex-end;
  padding: 0.5rem;
  display: flex;
  visibility: hidden;
}
//show-nav with mobile
.collapse {
  height: 32rem;
}
//show-nav with mobile
//main section

.site-main {
  letter-spacing: $letter-space;
  font-family: $font-pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  border-bottom: 0.3em solid $primary-color;
  .background-site {
    padding-top: 14em;
    text-align: center;
    background: url(../assets/image/background.jpg);
    background-size: cover;
    width: 100%;
    height: 110vh;
    h1 {
      padding-top: 0.5em;
    }
    .site-btn {
      margin-top: 1em;
      padding: 1em 2em;
      background: $third-color;
      border: 0.1em solid $primary-color;
      border-radius: 1em;
      letter-spacing: $letter-space;
      @include easeOut;
      cursor: pointer;
      &:hover {
        color: $primary-color;
        border: 0.1em solid $third-color;
        background: none;
      }
    }
  }
}
// carousel
.carousel-container {
  width: 60%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  height: 40vh;
  max-height: 500px;
  position: relative;
  .carousel-content {
    position: relative;
    width: 100%;
    .slider {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 40vh;
      max-height: 500px;
      @include easeOut;
      span {
        font-family: $font-dancing;
        margin: 1em;
        display: inline-block;
        font-size: 1.5em;
        font-weight: 700;
        color: $primary-color;
      }
    }
    .slider1 {
      background: url(../assets/image/photo1.jpg);
      background-size: cover;
      background-position: center;
    }
    .slider2 {
      background: url(../assets/image/photo2.jpg);
      background-size: cover;
      background-position: center;
    }
    .slider3 {
      background: url(../assets/image/photo3.jpg);
      background-size: cover;
      background-position: center;
    }
    .slider4 {
      background: url(../assets/image/photo4.jpg);
      background-size: cover;
      background-position: center;
    }
  }
  .fa {
    width: 2em;
    text-align: center;
    line-height: 2em;
    position: absolute;
    top: 50%;
    z-index: 4;
    color: $primary-color;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    @include easeOut;
    &:hover {
      background: black;
      opacity: 0.5;
    }
  }
  .fa-chevron-left {
    left: 5%;
  }
  .fa-chevron-right {
    right: 5%;
  }
}

// Site container
.site-content {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 0 4em;
  .posts {
    .post-content {
      padding: 0.7rem 2rem;
      .post-image {
        position: relative;

        .post-info {
          position: absolute;
          bottom: 0%;
          padding: 0.5em;
          background: #74f9ff;
          font-size: 1.3rem;
          left: 50%;
          transform: translate(-50%, 50%);
          border-radius: 1em;
          span {
            margin-left: 0.5em;
          }
        }
        .img {
          overflow: hidden;
          width: 100%;
          max-height: 60vh;
          img {
            max-height: 60vh;
            width: 100%;
            object-fit: cover;
            @include easeOut;
            &:hover {
              transform: scale(1.3);
            }
          }
        }
      }
      .post-title {
        margin: 1em 0;
        width: 90%;
        a {
          font-size: 2.4rem;
          font-family: $font-pt;
          color: black;
        }
        button {
          padding: 0.5em 1em;
          background: #74f9ff;
          border-radius: 0;
          border: none;
          cursor: pointer;
        }
      }
    }
    .pagination {
      justify-content: center;
      padding: 1em;
      font-size: 1.5rem;
      a {
        padding: 0.6rem 0.9rem;
        margin: 0.5em;
        &:hover {
          border-radius: 50%;
          border-bottom: 0.1em solid $third-color;
        }
        &.current-page {
          border-bottom: 0.1em solid $third-color;
        }
      }
    }
  }
}
.sidebar {
  font-family: $font-montserrat;
  padding-left: 3em;
  .category {
    .category-list {
      font-family: $font-montserrat;
      font-size: 1.5rem;
      margin-top: 1em;
      .category-items {
        margin: 0.5em;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        border-radius: 0.3em;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      }
    }
  }
  .popular-posts {
    padding-top: 12rem;
    .post-content {
      margin-bottom: 4em;
      .post-image {
        margin-top: 2em;
        position: relative;
        .img {
          img {
            width: 100%;
            min-height: 100px;
            object-fit: cover;
          }
        }
        .post-info {
          position: absolute;
          bottom: 0.2em;
          background: white;
          border-radius: 0 0.3em 0 0;
          span {
            margin: 0.25em;
          }
        }
      }
      .post-title {
        font-size: 1.3rem;
        a {
          color: black;
          text-transform: uppercase;
        }
      }
    }
  }
  .newsleter {
    padding-top: 12rem;
    form {
      margin-top: 3rem;
      font-size: 1.3rem;
      flex-direction: column;
      input {
        padding: 0.5em 1em;
        margin-bottom: 1em;
      }
    }
    button {
      padding: 0.5em;
      width: 100%;
      font-family: $font-montserrat;
      border: none;
      border-radius: 0.3em;
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }
  }
  .popular-tags {
    padding: 12rem 0;
    .tags {
      margin-top: 3rem;
      font-size: 1.3rem;
      .tag {
        padding: 0.5em;
        margin: 0.5em 0.8em;
        border: none;
        border-radius: 2em;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      }
    }
  }
}

// footer
footer {
  background: rgb(39, 37, 37);
  height: 100%;
  position: relative;
  padding: 1.5em 3em;
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: $font-pt;
    color: $primary-color;

    .footer-about {
      width: 85%;
      p {
        margin-top: 1em;
      }
    }
    .footer-newsletter {
      .footer-form {
        margin-top: 1em;
        display: inline-block;
        input {
          padding: 0.5em 1em;
          width: 70%;
          border: none;
          background: black;
          color: $primary-color;
        }
        span {
          padding: 1em 1.3em;
          border: none;
          font-size: 1.2rem;
          color: black;
          background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
          &:hover {
            cursor: pointer;
            color: $primary-color;
          }
        }
      }
    }
    .footer-insta {
      width: 80%;
      h2 {
        margin-bottom: 0.8em;
      }
      .picture {
        margin-top: 1em;
        justify-content: space-around;
        img {
          border: 0.1em solid $primary-color;
          width: 30%;
          height: 50%;
          &:hover {
            border: 0.1em solid $third-color;
          }
        }
      }
    }
    .footer-social {
      p {
        margin-top: 1em;
      }
      .social {
        font-size: 2rem;
        .fa {
          margin: 0.3em;
          &:hover {
            color: $third-color;
          }
        }
      }
    }
  }
  .copyright {
    justify-content: center;
    font-size: 1.2rem;
    span {
      color: $primary-color;
      @include easeOut;
      &:hover {
        font-size: 1.5rem;
        color: $third-color;
      }
    }
  }
}
@import "mobile";
// .show-nav {
//   visibility: visible;
// }
