@import url("https://fonts.googleapis.com/css?family=Montserrat|Rajdhani|PT+Sans|Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

a {
  text-decoration: none;
  color: #40514e;
}

p {
  font-family: "Montserrat", sans-serif;
  color: gray;
  line-height: 2em;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

.nav-bar {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  font-family: "Montserrat", sans-serif;
  padding: 0 2rem;
  height: 0rem;
  min-height: 60px;
  overflow: hidden;
}

.nav-bar .nav-menu {
  font-size: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar .nav-menu .nav-branding {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0.4545em 0;
  display: block;
}

.nav-bar .nav-menu .nav-social {
  padding: 1.2rem 0.5rem;
}

.nav-bar .nav-menu .nav-social a {
  margin: 0 0.3em;
}

.nav-bar .nav-menu .nav-social a:hover {
  color: #30e3ca;
}

.nav-bar .nav-menu div .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1.6rem;
  font-family: "Rajdhani", sans-serif;
}

.nav-bar .nav-menu div .nav-items .nav-links {
  margin: 1.2rem 0rem;
  padding: 0 1rem;
}

.nav-bar .nav-menu div .nav-items .nav-links.current {
  border-bottom: 0.05em solid #30e3ca;
}

.nav-bar .nav-menu div .nav-items .nav-links:hover {
  border-bottom: 0.05em solid #30e3ca;
}

.nav-collapse {
  position: absolute;
  top: 0;
  margin-top: 0.5rem;
  width: 90%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
}

.collapse {
  height: 32rem;
}

.site-main {
  letter-spacing: 2px;
  font-family: "PT Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f5f5;
  border-bottom: 0.3em solid #f5f5f5;
}

.site-main .background-site {
  padding-top: 14em;
  text-align: center;
  background: url(../assets/image/background.jpg);
  background-size: cover;
  width: 100%;
  height: 110vh;
}

.site-main .background-site h1 {
  padding-top: 0.5em;
}

.site-main .background-site .site-btn {
  margin-top: 1em;
  padding: 1em 2em;
  background: #30e3ca;
  border: 0.1em solid #f5f5f5;
  border-radius: 1em;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.site-main .background-site .site-btn:hover {
  color: #f5f5f5;
  border: 0.1em solid #30e3ca;
  background: none;
}

.carousel-container {
  width: 60%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0.3em solid #f5f5f5;
  height: 40vh;
  max-height: 500px;
  position: relative;
}

.carousel-container .carousel-content {
  position: relative;
  width: 100%;
}

.carousel-container .carousel-content .slider {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 40vh;
  max-height: 500px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.carousel-container .carousel-content .slider span {
  font-family: "Dancing Script", cursive;
  margin: 1em;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  color: #f5f5f5;
}

.carousel-container .carousel-content .slider1 {
  background: url(../assets/image/photo1.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-container .carousel-content .slider2 {
  background: url(../assets/image/photo2.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-container .carousel-content .slider3 {
  background: url(../assets/image/photo3.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-container .carousel-content .slider4 {
  background: url(../assets/image/photo4.jpg);
  background-size: cover;
  background-position: center;
}

.carousel-container .fa {
  width: 2em;
  text-align: center;
  line-height: 2em;
  position: absolute;
  top: 50%;
  z-index: 4;
  color: #f5f5f5;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.carousel-container .fa:hover {
  background: black;
  opacity: 0.5;
}

.carousel-container .fa-chevron-left {
  left: 5%;
}

.carousel-container .fa-chevron-right {
  right: 5%;
}

.site-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  padding: 0 2em;
}

.site-content .posts .post-content {
  padding: 0.7rem 2rem;
}

.site-content .posts .post-content .post-image {
  position: relative;
}

.site-content .posts .post-content .post-image .post-info {
  position: absolute;
  bottom: 0%;
  padding: 0.5em;
  background: #74f9ff;
  font-size: 1.3rem;
  left: 20vw;
  border-radius: 1em;
}

.site-content .posts .post-content .post-image .post-info span {
  margin-left: 0.5em;
}

.site-content .posts .post-content .post-image .img {
  overflow: hidden;
  width: 90%;
  border: 0.3em solid #f5f5f5;
}

.site-content .posts .post-content .post-image .img img {
  width: 100%;
  height: 60vh;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.site-content .posts .post-content .post-image .img img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.site-content .posts .post-content .post-title {
  margin: 1em 0;
}

.site-content .posts .post-content .post-title a {
  font-size: 2.4rem;
  font-family: "PT Sans", sans-serif;
  color: black;
}

.site-content .posts .post-content .post-title button {
  padding: 0.5em 1em;
  background: #74f9ff;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.site-content .posts .pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  font-size: 1.5rem;
}

.site-content .posts .pagination a {
  padding: 0.6rem 0.9rem;
  margin: 0.5em;
}

.site-content .posts .pagination a:hover {
  border-radius: 50%;
  border-bottom: 0.1em solid #30e3ca;
}

.site-content .posts .pagination a.current-page {
  border-bottom: 0.1em solid #30e3ca;
}

.sidebar .category {
  font-family: "Montserrat", sans-serif;
}

.sidebar .category .category-list {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-top: 1em;
}

.sidebar .category .category-list .category-items {
  margin: 0.5em;
  padding: 0.5em;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.3em;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

@media screen and (max-width: 760px) {
  .nav-collapse {
    visibility: visible;
  }
  .nav-items,
  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */